/**
  * Contest form style MOBILE
  */

.contest-form

  display: flex
  flex-direction: column
  aling-content: flex-start
  align-items: stretch
  flex-wrap: wrap

  padding: 0px

  color: #283645
  background-color: #fff

  & fieldset
    display: block
    position: relative

    flex-grow: 0
    flex-shrink: 1
    flex-basis: auto

    margin: 20px 0px 0px
    padding: 20px 0px 0px

    border: none
    background-color: #fff

  & legend
    display: block
    position: absolute
    box-sizing: border-box

    top: -20px
    left: 50%

    max-width: 95%

    margin: 0px
    padding: 0px 30px

    background-color: #fff
    transform: translate(-50%, 50%)


/* ID section */
.contest-form .contest-form__section-id
  margin: 0px
  padding: 0px 0px 40px


.contest-form__id-items
  padding: 0px 20px

//.contest-form__id-item

.contest-form__id-label
  display: block
  vertical-align: top

  padding: 20px 20px 10px

  font-size: 14px
  line-height: 21px
  color: #d22856

  text-transform: uppercase


/* Efforts section */
.contest-form .contest-form__section-efforts
  margin: 0px
  padding: 115px 0px 0px

  background-color: #f2f2f2

.contest-form__section-efforts .contest-form__title
  padding: 20px 10px

  max-height: 76px

  background-color: #f2f2f2
  overflow: hidden


.contest-form__efforts-items
  padding: 0px 20px


.contest-form__efforts-item
  padding: 0px 0px 42px


/* Contacts section */
.contest-form .contest-form__section-contacts
  margin: 0px
  padding: 15px 0px 42px

.contest-form__section-contacts .contest-form__title
  display: none


.contest-form__contacts-items
  padding: 0px 20px

//.contest-form__contacts-item

.contest-form__contacts-label
  display: block

  padding: 20px 20px 10px

  font-size: 14px
  line-height: 21px
  color: #d22856

  text-transform: uppercase


/* App section */
.contest-form .contest-form__section-app
  margin: 0px
  padding: 110px 0px 0px

  background-color: #f2f2f2

.contest-form__section-app .contest-form__title
  padding: 20px 10px

  max-height: 76px

  background-color: #f2f2f2
  overflow: hidden


.contest-form__app-items
  padding: 0px 20px


.contest-form__app-item
  padding: 0px 0px 35px

  &:last-child
    padding: 0px 0px 40px


/* Message section */
.contest-form .contest-form__section-message
  position: relative

  margin: 0px
  padding:  75px 20px
  padding-bottom: 45px

.contest-form__section-message .contest-form__title
  padding: 25px 10px 20px

  max-height: 76px

  +text-overflow()


/* Bottom */
.contest-form .contest-form__section-submit
  margin: 0px
  padding: 0px 20px

  text-align: center


.contest-form__section-submit

  & .contest-form__label
    margin: 33px 0px 0px


.contest-form__label
  font-size: 14px
  line-height: 30px
  text-transform: uppercase

  & em
    font-size: 14px


/**
  * Contest form style TABLET
  */
@media (min-width: $tablet-max-width)

  /* ID section */
  .contest-form .contest-form__section-id
    padding: 40px 0px 20px
    order: 1


  .contest-form__id-items
    padding: 0px 40px


  .contest-form__id-item
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: nowrap

    padding: 0px 0px 52px

    & > *
      flex-grow: 0
      flex-shrink: 1
      flex-basis: auto

    &:last-child
      padding: 0px 0px 25px


  .contest-form__id-label
    padding: 0px 20px 0px 0px


  /* Efforts section */
  .contest-form .contest-form__section-efforts
    margin: 20px 40px 45px
    padding: 20px 0px 0px

    border: 2px solid #e5e5e5
    background-color: #ffffff
    order: 4


  .contest-form__section-efforts .contest-form__title
    display: block
    padding: 0px 30px

    background-color: #ffffff

    +text-overflow()


  .contest-form__efforts-items
    padding: 33px 58px 12px


  .contest-form__efforts-item

    &:last-child
      padding: 0px 0px 35px

  /* Contacts section */
  .contest-form .contest-form__section-contacts
    margin: 20px 40px 45px
    padding: 20px 0px 0px

    border: 2px solid #e5e5e5
    background-color: #ffffff
    order: 3


  .contest-form__section-contacts .contest-form__title
    display: block
    padding: 0px 30px

    background-color: #ffffff

    +text-overflow()


  .contest-form__contacts-items
    padding: 26px 58px 12px


  .contest-form__contacts-item
    position: relative
    padding: 63px 0px 20px

    &:last-child
      padding: 63px 0px 0px

    & .contest-form__contacts-label
      padding: 15px 20px 15px

    & .text-btn-input
      position: absolute

      top: 0px
      left: 0px

      width: 100%


  /* App section */
  .contest-form .contest-form__section-app
    margin: 20px 40px 45px
    padding: 20px 0px 0px

    border: 2px solid #e5e5e5
    background-color: #ffffff
    order: 2


  .contest-form__section-app .contest-form__title
    padding: 0px 30px

    background-color: #ffffff

    +text-overflow()


  .contest-form__app-items
    padding: 32px 58px 12px


  /* Message section */
  .contest-form .contest-form__section-message
    margin: 20px 40px 65px
    padding: 45px 58px 49px

    border: 2px solid #e5e5e5
    order: 5


  .contest-form__section-message .contest-form__title
    padding: 0px 30px

    +text-overflow()

  .contest-form__message-wrap

    & textarea
      min-height: 195px

  /* Bottom */
  .contest-form .contest-form__section-submit
    margin: 0px 0px 42px
    padding: 0px 40px
    order: 6


  .contest-form__section-submit
    +clearfix()

    & .btn
      width: 300px
      float: left

    & .contest-form__label
      float: right
      margin: 0px
      padding: 20px 0px 15px

/**
  * Contest form style DESKTOP
  */
@media (min-width: $desktop-max-width)

  .contest-form
    padding: 0px 10px

  .contest-form__section
    box-sizing: border-box

    &--id
      padding: 0px
      padding-top: 15px
      width: 46.27659%

    &--app
      margin: 0px
      padding: 20px
      width: 46.27659%

    &--app .contest-form__title
      padding: 0px 25px
      margin: 0px 5px

    &--contacts
      margin: 30px 0px
      width: 100%

    &--contacts .contest-form__title
      padding: 0px 27px
      margin: 0px 120px

    &--efforts
      margin: 0px
      width: 100%

    &--message
      margin: 0px
      width: 100%


  .contest-form__id-item
    padding-bottom: 54px


  .contest-form__contacts
    display: flex
    justify-content: space-between
    align-items: flex-start


  .contest-form__contacts-item
    width: 45.731707%


  .contest-form__efforts
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
