
.contacts
  text-align: center
  background-color: #ffffff


.contacts__content
  padding: 24px 15px 25px

  & h2
    margin: 20px 0px 20px

  & a
    margin: 0px
    font-weight: $font-w-light
    text-decoration: none

  & h5
    margin: 8px 0px 4px

.contacts__phone
  padding: 5px


.contacts__mail
  padding: 5px

.contacts_addres
  padding: 10px

.contacts__separator
  position: relative
  z-index: 50

  & path
    fill: #ffffff


.contacts__map-wrap
  position: relative

  margin-top: -40px

  height: 200px

  overflow: hidden


.contacts__map-marker
  position: absolute

  top: 46%
  left: 44%
