
.contacts
  text-align: center
  background-color: #ffffff


.contacts__wrap
  padding: 40px 15px


.contacts__item
  & a
    font-weight: $font-w-light
    text-decoration: none


.contacts__map-wrap
  height: 200px

  overflow: hidden
