
.main-nav
  position: relative


.main-nav__logo
  padding: 19px 20px
  background-color: #283645
  box-shadow: inset 0px -3px 0px -2px #000101


.main-nav__items
  margin: 0px
  padding: 0px
  list-style-type: none


.main-nav__a
  display: block
  text-align: center

  padding: 16px 20px

  font-size: 18px
  line-height: 32px
  font-weight: $font-w-bold
  color: #ffffff

  text-transform: uppercase
  text-decoration: none
  background-color: #283645
  box-shadow: inset 0px -3px 0px -2px #000101, inset 0px 3px 0px -2px #485461


.main-nav__btns
  position: absolute

  top: 0
  right: 0

  width: 100%

  text-align: right


.main-nav__btn
  position: relative
  padding: 0px;

  width: 66px
  height: 66px

  font-size: 0px

  border: none
  background: transparent
  cursor: pointer

  &--open
    display: none


.main-nav__btn-ico
  position: absolute

  top: 50%
  left: 50%

  transform: translate(-50%, -50%);
