
.page-header
  +adaptive-container()


.page-header__content
  position: relative
  box-sizing: border-box

  color: #ffffff
  background-color: #1d2631

  background-image: url("../img/bg-back-mobile@1x.jpg")
  background-repeat: no-repeat
  background-position: center top

  z-index: 50

  &--short .page-header__wrap
    //min-height: 237px
    //padding: 78px 20px 20px


  & h2
    margin: 20px 0px
    text-align: center


.page-header__content-wrap
  position: relative
  box-sizing: border-box

  min-height: 733px
  padding-top: 462px


.page-header__img-wrap
  position: absolute
  top: 176px
  left: 0

  & img
    display: block
    width: 100%
    height: auto


.page-header__intro
  padding: 28px 20px 29px

  & h2
    display: none


@media (min-width: $tablet-max-width)

  .page-header__content
    padding: 170px 20px 0px

    &--short .page-header__wrap
      min-height: 440px
      padding: 159px 25px 20px


  .page-header__content-wrap
    padding-top: 0px
    min-height: 558px


  .page-header__img-wrap
    display: block

    left: auto
    right: 0

    top: auto
    bottom: 0


  .page-header__intro
    padding: 30px 20px

    width: 300px

    text-align: center

    & h2
      display: inline-block
      margin: 0px 55px 32px

      font-size: 40px


@media (min-width: $desktop-max-width)

  .page-header__content-wrap
    margin: 0 auto

    max-width: $desktop-content-max-width
    min-height: 683px

  .page-header__intro
    padding: 38px 10px 29px

    & h2
      margin: 10px 0px 52px

      font-size: 50px
