
.page-header


.page-header__content-wrap
  position: relative

  background-color: #1d2631

  background-image: url("../img/bg-back-mobile@1x.jpg")
  background-repeat: no-repeat
  background-position: center top
  background-size: 700px auto


.page-header__logo
  position: relative
  box-sizing: border-box

  padding-top: 67px
  min-height: 462px


.page-header__img-wrap
  position: absolute

  bottom: 0px
  left: 0px

  width: 258px
  height: 286px

  & img
    display: block
    max-width: 100%
    height: auto


.page-header__intro
  box-sizing: border-box

  padding: 28px 20px 31px

  text-align: center

  color: #ffffff
  background-color: #1d2631

  & h2
    display: none

  &--inner
    padding: 75px 20px 32px
    min-height: 237px
    background-color: transparent

  &--inner h2
    display: block
    line-height: 30px


@media (min-width: $mobile-max-width) and (min-resolution: 144dpi), (min-width: $mobile-max-width) and (min-resolution: 1.5dppx)

  .page-header__content-wrap
    background-image: url("../img/bg-back-mobile@2x.jpg")
    background-size: 700px auto


@media (min-width: $tablet-max-width)

  .page-header__content-wrap
    position: relative

    padding: 161px 0px 60px

    background-image: url("../img/bg-back-tablet@1x.jpg")
    background-size: 1200px auto


  .page-header__logo
    position: absolute
    padding: 0px

    right: 0px
    bottom: 0px

    width: 700px
    height: 545px

    background: none
    z-index: 10


  .page-header__img-wrap
    display: block

    top: auto
    bottom: 0

    width: 700px
    height: 545px


  .page-header__intro
    position: relative

    padding: 20px 20px 50px
    width: 340px

    background-color: transparent
    z-index: 50

    & h2
      display: block

      margin: 20px auto 33px
      width: 245px

      font-size: 40px

    &--inner
      padding: 0px

      width: auto
      min-height: 198px

      background: none

    &--inner h2
      width: 570px
      font-size: 50px
      line-height: 58px


@media (min-width: $tablet-max-width) and (min-resolution: 144dpi), (min-width: $tablet-max-width) and (min-resolution: 1.5dppx)

  .page-header__content-wrap
    background-image: url("../img/bg-back-tablet@2x.jpg")
    background-size: 1200px auto


@media (min-width: $desktop-max-width)

  .page-header
    background-color: #1d2631


  .page-header__content-wrap
    background-image: url("../img/bg-back-desktop@1x.jpg")
    background-size: 2560px auto

  .page-header__logo
    width: 1050px
    height: 645px


  .page-header__img-wrap
    width: 1050px
    height: 645px


  .page-header__intro
    padding: 35px 10px 60px

    width: 320px

    & h2
      margin: 20px 0px 55px
      width: auto

      font-size: 50px

    &--inner
      margin: 0 auto
      padding: 0px

      width: auto
      min-height: 159px

      background: none

    &--inner h2
      width: 750px
      margin: 14px auto 25px

    &--fixed h2
      width: 500px


@media (min-width: $desktop-max-width) and (min-resolution: 144dpi), (min-width: $desktop-max-width) and (min-resolution: 1.5dppx)

  .page-header__content-wrap
    background-image: url("../img/bg-back-desktop@2x.jpg")
    background-size: 2560px auto
