
.page-footer
  color: #283645
  background-color: #ffffff
  padding: 0px 0px 40px


.page-footer__logo
  width: 146px
  height: 55px
  margin: 0 auto
  padding: 30px 20px 37px

  &:hover svg path
    fill: #d22856

  &:active
    opacity: 0.3

  &:active svg g:first-child path
    fill: #283645


.page-footer__copy
  margin: 35px auto 0px

  min-height: 40px
  width: 140px

  line-height: 40px
  text-align: center

  & a
    text-decoration: none

  &:hover .page-footer__copy-logo path
    fill: #283645

  &:active .page-footer__copy-logo path
    fill: #bec2c7


.page-footer__copy-link
  display: inline-block
  vertical-align: middle

  padding: 4px 10px 8px
  padding-left: 0px

  font-size: 14px
  line-height: 18px
  font-weight: $font-w-regular
  color: #283645
  text-decoration: none


.page-footer__copy-logo
  display: inline-block
  vertical-align: middle


@media (min-width: $tablet-max-width)

  .page-footer
    color: #283645
    background-color: #ffffff
    padding: 0px 0px 20px

  .page-footer__content-wrap
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    padding: 20px 0px 20px

    & > *
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;


  .page-footer__logo
    margin: 0px
    padding: 5px 20px 10px
    padding-right: 5px


  .page-footer__copy
    margin: 0px
    padding: 5px 15px


@media (min-width: $desktop-max-width)

  .page-footer__content-wrap
    padding: 15px 5px 50px
    margin: 0 auto
    max-width: $desktop-content-max-width


  .page-footer__logo
    padding: 0px 5px 15px
    padding-right: 40px


  .page-footer__copy
    padding-right: 0px
    width: 170px


  .page-footer__copy-link
    padding: 4px 5px 8px
    font-size: 18px
    line-height: 18px
