
.photo-gallery
  background-color: #ffffff

.photo-gallery__content
  padding: 50px 20px
  color: #283645
  line-height: 30px
  text-align: center

  background-color: #ffffff


.photo-gallery__items
  padding-bottom: 20px

.photo-gallery__item
  font-size: 14px
  line-height: 24px
  color: #283645

  & img
    display: block
    margin: 0 auto


.photo-gallery__caption
  padding: 15px 20px
  margin: 20px
  margin-top: 0px

  background-color: #f2f2f2

.photo-gallery__id


.photo-gallery__name
  font-weight: $font-w-bold


.photo-gallery__date
  font-weight: $font-w-light
  text-transform: uppercase


.photo-gallery__comment
  color: #283645


.photo-gallery__likes-count
  display: inline-block
  vertical-align: top

  color: #d22856
  text-transform: uppercase
  line-height: 20px

.photo-gallery__likes
  line-height: 20px

.photo-gallery__like-btn
  position: relative

  display: inline-block
  vertical-align: top

  padding: 0px

  width: 20px
  height: 20px

  font-size: 0
  line-height: 20px

  border: none
  background-color: transparent
  cursor: pointer


.photo-gallery__btn-ico
  position: absolute

  top: 50%
  left: 50%

  transform: translate(-50%, -50%)
