
.pink-app
  color: #283645
  background-color: #ffffff


.pink-app__header
  padding: 23px 30px 43px

  font-size: 14px
  line-height: 30px
  text-align: center

  & h2
    margin: 0px
    font-size: 14px
    line-height: 30px
    font-weight: $font-w-regular


.pink-app__form
  background-color: #f2f2f2

  & input[type=file]
    display: none


.pink-app__preview
  padding: 20px
  height: 374px


.pink-app__controls
  display: flex
  justify-content: space-between
  align-items: flex-start
  flex-wrap: wrap

  & > *
    flex-grow: 1
    flex-shrink: 1
    flex-basis: auto


.pink-app__edit-items
  padding: 16px 50px 14px

  width: 100%

  font-size: 0px


.pink-app__edit-item
  display: inline-block
  vertical-align: top

  margin-right: 25px

  &:nth-child(3n)
    margin-right: 0px


.pink-app__btn
  position: relative
  padding: 5px

  width: 56px
  height: 56px

  font-size: 0

  background-color: transparent
  border: none
  cursor: pointer
  outline: none

  &--active .pink-app__icon path
    fill: #d22856

  &:not(&--active):hover .pink-app__icon path
    fill: #8d949b


.pink-app__icon
  position: absolute

  top: 50%
  left: 50%

  transform: translate(-50%, -50%)


.range-input
  display: none


.pink-app__main-range
  padding: 0px 42px 18px 38px

  width: 100%

  & .range-input
    display: block


.pink-app__submit
  padding: 38px 20px 38px

  border-top: 1px solid #dddfe0

  & > *:not(:last-child)
    margin-bottom: 12px


@media (min-width: $tablet-max-width)

  .pink-app__header
    padding: 45px 20px

    min-height: 85px

    & h2
      margin: 0px
      font-size: 18px
      line-height: 30px


  .pink-app__form-wrap
    +clearfix()

    padding: 57px 20px 54px


  .pink-app__preview
    box-sizing: border-box

    padding: 0px

    width: 300px
    height: 400px

    float: left


  .pink-app__controls
    box-sizing: border-box

    padding: 0px

    width: 300px
    min-height: 400px

    float: right


  .pink-app__edit-items
    padding: 0px
    padding-left: 20px

    width: 100%


  .pink-app__edit-item
    box-sizing: border-box
    margin: 0px
    padding-right: 18px
    padding-bottom: 15px

    width: 100%

    display: flex;
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

    border-bottom: 1px solid #dddfe0

    &:not(:first-child)
      padding-top: 16px

    & .range-input
      display: block

      width: 200px

      flex-grow: 0
      flex-shrink: 1
      flex-basis: auto

    & .pink-app__btn
      flex-grow: 0
      flex-shrink: 1
      flex-basis: auto


  .pink-app__btn
    width: 40px
    height: 40px


  .pink-app__icon
    width: 28px
    height: 28px

    &--contrast
      width: 18px
      height: 18px

    & path
      fill: #d22856


  .pink-app__main-range
    display: none


  .pink-app__submit
    box-sizing: border-box
    padding: 0px
    padding-top: 10px
    padding-left: 26px

    width: 290px

    flex-grow: 0
    flex-shrink: 1
    flex-basis: auto

    align-self: flex-end

    border: none

    & > *:not(:last-child)
      margin-bottom: 24px


@media (min-width: $desktop-max-width)

  .pink-app
    padding-bottom: 70px


  .pink-app__header
    padding: 5px 20px
    min-height: 120px


  .pink-app__form
    background-color: #ffffff


  .pink-app__form-wrap
    margin: 0px 10px
    padding: 47px 60px 54px

    background-color: #f2f2f2


  .pink-app__preview
    margin: 10px 20px 0px
    width: 300px


  .pink-app__controls
    width: 415px
    min-height: 413px


  .pink-app__edit-items
    padding: 0px


  .pink-app__edit-item
    box-sizing: border-box
    margin: 0px
    padding-top: 5px
    padding-right: 30px
    padding-bottom: 5px

    &:not(:first-child)
      padding-top: 10px

    & .range-input
      display: block
      width: 288px


  .pink-app__btn
    width: 56px
    height: 56px


  .pink-app__icon
    width: 48px
    height: 48px

    &--contrast
      width: 32px
      height: 32px


  .pink-app__submit
    padding: 10px 0px 0px 5px
    width: 100%

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    & > *
      margin: 0px
      width: 183px

      flex-grow: 0
      flex-shrink: 1
      flex-basis: auto

    & > *:not(:last-child)
      margin: 0px
