
.pink-app
  color: #283645
  background-color: #ffffff


.pink-app__content-wrap
  +adaptive-container()


.pink-app__header
  padding: 20px 30px 40px

  font-size: 14px
  line-height: 30px
  text-align: center

  & h2
    margin: 0px
    font-size: 14px
    line-height: 30px
    font-weight: $font-w-regular


.pink-app__form
  background-color: #f2f2f2

  & input[type=file]
    display: none


.pink-app__preview
  padding: 20px


.pink-app__img
  display: block
  width: 100%
  height: auto


.pink-app__control-items
  display: flex
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 18px 40px

  min-height: 105px

  font-size: 0
  text-align: center
  border-bottom: 1px solid #dddfe0


.pink-app__control-item
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

  margin: 0px 10px

  &--main
    display: block
    align-self: flex-end

    margin: 0px
    padding: 10px 0px
    width: 100%

  &--main .pink-app__range
    display: block


.pink-app__submit
  padding: 38px 20px

  & .btn
    margin-bottom: 12px

  & .btn:last-child
    margin-bottom: 0px


.pink-app__btn
  position: relative

  width: 56px
  height: 56px

  font-size: 0

  background-color: transparent
  border: none
  cursor: pointer

  &--active .pink-app__icon path:last-child
    fill: #d22856


.pink-app__icon
  position: absolute

  top: 50%
  left: 50%

  transform: translate(-50%, -50%)


/* Custom Range*/
.pink-app__range
  display: none

  -webkit-appearance: none
  width: 100%
  margin: 5px 0

  &:active::-webkit-slider-thumb
    background-color: #d22856

  &:active::-moz-range-thumb
    background-color: #d22856

  &:active::-ms-thumb
    background-color: #d22856


.pink-app__range:focus
  outline: none


.pink-app__range::-webkit-slider-runnable-track
  width: 100%
  height: 2px
  cursor: pointer
  box-shadow: none
  background: #283645
  border: none


.pink-app__range::-webkit-slider-thumb
  height: 12px
  width: 12px
  border: 2px solid #d22856
  border-radius: 50%
  background-color: #f2f2f2
  box-shadow: none
  cursor: pointer
  -webkit-appearance: none
  margin-top: -5px


.pink-app__range:focus::-webkit-slider-runnable-track
  background: #283645


.pink-app__range::-moz-range-track
  width: 100%
  height: 2px
  cursor: pointer
  box-shadow: none
  background: #283645
  border: none


.pink-app__range::-moz-range-thumb
  box-shadow: none
  border: 2px solid #d22856
  height: 10px
  width: 10px
  border-radius: 50%
  background-color: #f2f2f2
  cursor: pointer


.pink-app__range::-ms-track
  width: 100%
  height: 2px
  cursor: pointer
  background: transparent
  border-color: transparent
  color: transparent


.pink-app__range::-ms-fill-lower
  background: #283645
  border: none
  box-shadow: none


.pink-app__range::-ms-fill-upper
  background: #283645
  border: none
  box-shadow: none


.pink-app__range::-ms-thumb
  box-shadow: none
  border: 2px solid #d22856
  height: 10px
  width: 10px
  border-radius: 50%
  background-color: #f2f2f2
  cursor: pointer
  height: 2px


.pink-app__range:focus::-ms-fill-lower
  background: #283645


.pink-app__range:focus::-ms-fill-upper
  background: #283645

