
.reviews
  padding: 0px 0px 25px

  background-color: #ffffff
  text-align: center


.reviews__item
  padding: 22px 20px 20px

  text-align: center

  &:not(:first-child)
    display: none


.reviews__author-name
  font-size: 18px
  line-height: 30px
  font-weight: $font-w-bold
  color: #000000


.reviews__author-id
  display: none


.reviews__comment
  padding: 13px 0px 10px

  font-size: 14px
  line-height: 30px
  font-weight: $font-w-regular


.reviews__toggles
  display: inline-block
  vertical-align: top

  height: 19px
  line-height: 19px

  font-size: 0px
  text-align: center


.reviews__toggle
  display: inline-block
  vertical-align: middle

  box-sizing: border-box
  margin: 0px 7px

  width: 12px
  height: 12px

  background-color: #bec2c7
  border: 3px solid #ffffff
  border-radius: 50%
  cursor: pointer

  &--active
    background-color: #fff
    border: 3px solid #283645


.reviews__control
  display: none
