
.reviews
  padding: 20px 0px

  background-color: #ffffff
  text-align: center


.reviews__item
  padding: 10px 20px

  text-align: center

  &:not(:first-child)
    display: none


.reviews__author-name
  font-weight: $font-w-bold
  color: #000000


.reviews__author-id
  display: none


.reviews__comment
  & p
    line-height: 30px


.reviews__toggles
  display: inline-block


.reviews__control
  display: none
